:root {
  --color-black: #000000;
  --color-dark-red: #7B1113;
  --color-light-gray: #F3F1F6;
  --color-white: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-light-gray);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
}